* {
  font-family: "Raleway", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

i {
  color: #0065fc;
}

/*** Header ***/

header {
  display: flex;
  height: 79px;
  justify-content: space-between;
  margin-bottom: 35px;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 69px;
}

.container {
  padding: 0 50px;
}

.logo {
  width: 61.09px;
  height: 19px;
  align-self: center;
}

.menu a {
  border-top: #fff solid 2px;
  padding: 14px 0;
}

.menu a:hover {
  border-top-color: #0065fc;
  color: #0065fc;
  text-decoration: none;
}

/*** Section Infogroup ***/

#infogroup {
  display: flex;
  gap: 35px;
  flex-direction: column;
  margin-bottom: 30px;
}

/*** Titles ***/

h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0px 8px 0px;
}

p {
  font-size: 16px;
  margin: 0;
}

/*** Search Bar ***/

.search {
  display: flex;
  position: relative;
}

.search .search-icon {
  padding: 15px 18px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search-icon > i {
  color: black;
}

.search-input {
  font-weight: bold;
  border: 2px solid #f2f2f2;
  font-size: 18px;
  padding: 14px 24px;
  width: 147px;
}

.search-btn {
  background-color: #0065fc;
  color: white;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #0065fc;
}

/*** Filtres ***/

.filter-bar h2 {
  font-size: 18px;
}

.filter-bar {
  display: flex;
  gap: 15px;
}

.filter-menu {
  display: flex;
  gap: 15px;
}

.filter-button {
  cursor: pointer;
  font-size: 17px;
  padding: 4px 19px;
  border-radius: 25px;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  background-color: unset;
  height: 50px;
}

.filter-button:hover {
  background-color: #deebff;
}

.filter-bar i {
  color: #0065fc;
  padding-right: 10px;
}

/*** Info-Bar ***/

.info-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

#circle {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.info-bar i {
  color: #0065fc;
}

/*** Main ***/

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 10px 10px 10px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  font-size: 16px;
  margin: 0;
}

.euro {
  font-weight: 600;
}

.neutral-star {
  color: #f2f2f2;
}

/*** Hebergements And Populaires ***/

.hebergements-and-populaires {
  display: flex;
  gap: 40px;
  padding: 0 50px;
}

.hebergements-and-populaires section {
  padding: 30px;
  box-sizing: border-box;
}

/*** Hebergements ***/

.hebergements {
  width: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-grow: 1;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  margin: 30px 0px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}

.more h3 {
  margin: 0;
}

/*** Populaires ***/

.populaires {
  width: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  flex-basis: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.populaires-cards .card {
  display: flex;
}

.populaires-cards img {
  width: 33%;
  height: 146px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*** Activités ***/

.activites {
  padding: 0 50px;
  margin: 35px 0;
}

.activites-title {
  padding: 30px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 30px;
}

.activites-cards a {
  flex-basis: 0;
  flex-grow: 1;
}

.activites-cards .card {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
  padding: 20px 19px;
  flex-grow: 1;
  justify-content: center;
}

/*** Footer ***/

em {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

footer nav {
  display: flex;
  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  flex-grow: 1;
  flex-basis: 0;
}

footer ul li {
  margin-bottom: 15px;
}

/*** Media Queries Mobile Format ***/

@media (max-width: 768px) {
  /** Media Queries Header **/

  header {
    flex-direction: column;
    height: unset;
  }

  header.container {
    padding: 0;
  }

  .menu {
    justify-content: unset;
    gap: unset;
  }

  .menu a {
    border-top: unset;
    border-bottom: #f2f2f2 solid 2px;
    padding: 17px 0;
    width: 50%;
    text-align: center;
  }

  .menu a:hover {
    border-bottom-color: #0065fc;
    color: #0065fc;
    text-decoration: none;
  }

  .logo {
    padding: 30px;
  }

  .container {
    padding: 0 0px;
  }

  /** Media Queries Infogroup **/

  #infogroup {
    padding: 0 20px;
  }

  /** Media Queries Title **/

  h1 {
    flex-wrap: wrap;
  }

  /** Media Queries Searchbar **/

  .search-input {
    flex-grow: 1;
  }

  .search-btn {
    position: absolute;
    right: -6px;
    padding: 14px;
    font-size: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .search-btn::before {
    content: "\f002";
    font-size: 20px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  }

  /** Media Queries Filter Bar **/

  .filter-bar h2 {
    margin: 0 0 20px 0;
  }

  .filter-bar {
    display: unset;
  }

  .filter-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    column-gap: 10px;
    row-gap: 20px;
  }

  .filter-button {
    font-size: 15px;
    font-weight: 700;
  }

  /** Media Queries Infobar **/

  #infogroup {
    margin-bottom: 35px;
  }

  /** Media Queries Section Hébergements-Populaires **/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    border-radius: unset;
  }

  /** Media Queries Section Hébergements **/

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
  }

  .hebergements-and-populaires .hebergements {
    background-color: unset;
    padding: 20px;
  }

  /** Media Queries Section Populaires **/

  .hebergements-and-populaires .populaires {
    padding: 30px 20px;
  }

  .populaires-title {
    margin-bottom: 15px;
  }

  .populaires-cards {
    gap: 15px;
  }

  /** Media Queries Section Activités **/

  .activites {
    padding: unset;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px 30px 30px;
  }

  .activites-cards img {
    height: 141px;
  }

  /** Media Queries Footer **/

  footer.container {
    padding: 0;
  }

  footer nav {
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }

  footer ul {
    padding: 0;
  }
}

/*** Media Queries Tablet Format ***/

@media (min-width: 768px) and (max-width: 1024px) {
  /** Media Queries Filter Bar **/

  .filter-bar {
    display: unset;
  }

  /** Media Queries Section Populaires **/

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .populaires-title {
    margin-bottom: 20px;
  }

  .populaires-cards {
    flex-direction: row;
    gap: 20px;
  }

  .populaires-cards a {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
  }

  /** Media Queries Section Activités **/

  .activites-cards img {
    height: 200px;
  }
}
